vaccine,vaccinetitle,vaccineblurb,vaccineimage,vaccinetext,BACK,+
{{#vaccine}}
,"{{title}}","{{blurb}}",{{image}},"{{text}}",y,vaccineback
{{/vaccine}}

task,tasktitle,taskblurb,taskkid?,taskwifi?,sub_A?,sub_A_border?,sub_A_text,sub_A_icon-?,sub_A_cost,sub_A2,sub_A2_icon-?,sub_A2_cost,sub_B?,sub_B_border?,sub_B_text,sub_B_icon-?,sub_B_cost,sub_C?,sub_C_border?,sub_C_text,sub_C_icon-?,sub_C_cost,taskimage,BACK,+
{{#task}}
{{count}},"{{title}}","{{blurb}}",{{kid}},{{wifi}},{{#subA}}y,{{border}},"{{text}}",{{icon}},{{cost}},{{#secondary}}y,{{icon}},{{cost}}{{/secondary}}{{^secondary}}n,n,{{/secondary}}{{/subA}},{{#subB}}y,{{border}},"{{text}}",{{icon}},{{cost}}{{/subB}}{{^subB}}n,n,n,n,n{{/subB}},{{#subC}}y,{{border}},"{{text}}",{{icon}},{{cost}}{{/subC}}{{^subC}}n,n,n,n,n{{/subC}},{{image}},y,taskback
{{/task}}

player,playertopic,playertopicback>,playertitle,playerimage=default-upright.jpg,playertext,playerwifi?,playerkid?,BACK,+
{{#player}}
{{count}},"{{topic}}","{{topic}}","{{title}}",{{image}},"{{text}}",{{wifi}},{{kid}},y,playerback
{{/player}}

measure,measurelevel-?,mlbleed-?,measureimage,measuretitle,measuretitle2,measuretext,BACK,+,measureback-?,mbbleed-?
{{#measure}}
,{{level}},{{level}},{{image}},"{{title}}","{{subtitle}}","{{text}}",y,measureback,{{level}},{{level}}
{{/measure}}

breakdown,breakdowntitle,breakdownbacktitle>,breakdownblurb,breakdownimage=default.jpg,breakdowntext,BACK,+
{{#breakdown}}
4,"{{title}}","{{title}}","{{blurb}}",{{image}},"{{text}}",y,breakdownback
{{/breakdown}}

event,eventtitle,eventblurb,eventimage=default.jpg,eventtext,BACK,+
{{#event}}
{{count}},"{{title}}","{{blurb}}",{{image}},"{{text}}",y,eventback
{{/event}}






task,tasktitle,taskblurb,taskkid?,taskwifi?,sub_A?,sub_A_border?,sub_A_text,sub_A_icon-?,sub_A_cost,sub_A2,sub_A2_icon-?,sub_A2_cost,sub_B?,sub_B_border?,sub_B_text,sub_B_icon-?,sub_B_cost,sub_C?,sub_C_border?,sub_C_text,sub_C_icon-?,sub_C_cost,taskimage,BACK,+
,Arbeit,Geht's der Wirtschaft gut ...,n,n,				y,y,Besuche deinen Arbeitsplatz,money,+5,					n,n,,			y,n,Kehre heim,victory,+1,						n,n,n,n,n,task-work.jpg,y,taskback
